h1{
    border-bottom: 2px solid black;
    text-align: center;
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: 210px 1fr 600px;
    margin: 0;
}
.article{
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
}
.aside{
    width: 300px;
}
body{
    margin: 0;
}